---
const { id, title, description, image } = Astro.props;
---

<div class="@container w-full">
    <div
        class="flex flex-col @[1080px]:flex-row gap-[50px] @[1080px]:gap-[80px] items-center justify-center"
    >
        {image && (
            <img
                class="w-full @[1080px]:w-[400px] aspect-square rounded-[40px] object-cover"
                src={image}
                alt={title}
            />
        )}

        <div
            class="w-full @[1080px]:w-[600px] flex flex-col gap-[60px] items-start"
        >
            <p class="text-[64px] text-[var(--primary-red)] font-bold">0{id}</p>
            <h2
                class="text-[40px] text-black pb-[40px] border-b-4 border-[var(--primary-red)]"
            >
                {title}
            </h2>
            <p class="text-[16px] leading-[2.0] text-black">{description}</p>
        </div>
    </div>
</div>
